*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
body
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/background.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;	
}
.form
{
	height:650px;
	width:480px;
	background-color:white;
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
	border-radius:13px;
}
.form-content
{
	height:550px;
	width:80%;
	margin:50px auto;
	
}
h1
{
	font-size:35px;
	color: #0E2954;
	font-family:arial;
	text-align:center;	
}
input
{
	margin-top:30px;
	height:60px;
	width:100%;
	border-radius:9px;
	border-color:#0E2954;
	outline:none;
}
::placeholder
{
	top:40%;
	padding:10px;
	font-size:14px;	
}
.checks
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:12%;
	top:70%;
	color:black;
	height:15px;
	width:15px;
}
span
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:40%;
	top:74.7%;
	font-size:17px;
	font-family:arial;
	color:#1F6E8C;
}
.button
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:85%;
	height:50px;
	width:80%;
    background-color:1c5e95;
	border-radius:10px;
}
b
{
	font-family:arial;
	font-size:20px;
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	color:white;
}
p
{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:95%;
	font-size:16px;
}
a
{
	text-decoration:none;
}

