*
{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
.logo
{
    visibility: visible;
}
.navbar
{
    height:90px;
    width:100%;
   
}
.navbarContainer
{
    height:90px;
    width:98%;
    background-color: whitesmoke;
    margin:auto;
    
}
p
{
    font-size:15px;
    font-family: arial;
    /* letter-spacing:1px; */
    position:absolute;
    top:30px;
    left:189px;
}
.menubar
{
    overflow:hidden;
}
.menubar ul
{
    width:10%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 70%;
    top:4%;              
}
.menubar ul li a
{
   
    padding:0px 10px;
    position:relative;
    left:5px;
}
.navbarContainer ul li
{
    list-style: none;
   
}
.navbarContainer ul li a
{
    text-decoration: none;
    padding:10px;
    margin-left:120px;
}
.main-image
{
    height:380px;
    width:98%;
    margin:auto;
}
.main-image img
{
    width:100%;
}
.main-image p
{
    position:absolute;
    top:230px;
    font-size:55px;
    font-family: Arial, Helvetica, sans-serif;
    left:80px;
}
.main-image para
{
    position:absolute;
    top:320px;
    left:80px;
}
.Better
{
    height:170px;
    width:98%;
    background-color: whitesmoke;
    margin:auto;
}
.Better p

{
    width:50%;
    font-size:40px;
    position:relative;
    top:50px;
    left:75px;
}
.paragraph
{
    height:400px;
    width:98%;
    background-color:#12222E;
    margin:auto;
    position: relative;
    top:20px;
}
.paragraph p
{
    width:80%;
    color:#FFFFFF;
    position: relative;
    left:70px;
    top:50px;
}
.boxes
{
    height:300px;
    width:100%;
    position: relative;
    top:40px;
}
.boxContainer
{
    height:300px;
    width:98%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.box1
{
    height:300px;
    width:49.3%;
    background-color:#CFDDE9;
}
.box2
{
    height:300px;
    width:49.3%;
    background-color:#CFDDE9;
}
.boxes2
{
    height:300px;
    width:100%;
    position: relative;
    top:60px;
}
.boxContainer2
{
    height:300px;
    width:98%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.box3
{
    height:300px;
    width:49.3%;
    background-color:#CFDDE9;
}
.box4
{

    height:300px;
    width:49.3%;
    background-color:#CFDDE9;
}
.box1 p
{
    margin-top:40px;
    left:90px;
    font-size:23px;
}
.box1 para
{
    position: absolute;
    margin-top:115px;
    left:90px;
    color:#12222E;
}
.box2 p
{
    margin-top:40px;
    left:850px;
    font-size:23px;
}
.box2 para
{
    position: absolute;
    margin-top:115px;
    left:850px;
    color:#12222E;
}
.box3 p
{
    margin-top:40px;
    left:90px;
    font-size:23px;
}
.box3 para
{
    position: absolute;
    margin-top:115px;
    left:90px;
    color:#12222E;
}
.box4 p
{
    margin-top:40px;
    left:850px;
    font-size:23px;
}
.box4 para
{
    position: absolute;
    margin-top:115px;
    left:850px;
    color:#12222E;
}
.careers
{
    height:170px;
    width:98%;
    background-color:whitesmoke;
    margin:auto;
    position: relative;
    top:80px;

}
.careers p
{
    width:90px;
    font-size:45px;
    position: relative;
    left:60px;
    top:60px;
}
.bxs
{
    height:360px;
    width:100%;
    position: relative;
    top:100px;
}
.bxsContainer
{
    height:360px;
    width:98%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}
.bxs1
{
    height:320px;
    width:49.3%;
    background-color:whitesmoke;


}
.bxs2
{
    height:320px;
    width:49.3%;
    background-color:whitesmoke;
}
.bxs1 p
{
    top:90px;
    left:70px;
    font-size:23px;
}
.bxs1 para
{
    position: relative;
    top:140px;
    left:58px;
}
.bxs2 p
{
    top:90px;
    left:825px;
    font-size:23px;
}
.bxs2 para
{
    position: relative;
    top:140px;
    left:58px;
}
.ss
{
    position: relative;
    top:60px;
    height:395px;
    width:98%;
    background-color:black;
    margin:auto;
}
.ss img
{
    height:395px;
    width:100%;
}
